*.c
*.cp*
*.html
**build/
output/*
*.pdf
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.aux
*.bbl
*.log
*.out
*.blg
*.synctex.gz
*.toc
*.nav
*.snm
*.c
*.cp*
*.html
**build/
output/*
*.pdf
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.aux
*.bbl
*.log
*.out
*.blg
*.synctex.gz
*.toc
*.nav
*.snm
